{% extends "base.html" %}
{% load static %}
{% block Content %}
<section class="site-section mt-5" id="section-about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 pr-lg-5 mb-lg-0">
        <img src="{% static 'images/heroImage.jpg' %}" alt="Image placeholder" class="img-fluid" />
      </div>
      <div class="col-lg-5 pl-lg-5">
        <div class="section-heading">
          <h2>About <strong>Me</strong></h2>
        </div>
        <p class="lead">
          Passionate and experienced Full Stack Developer with over two years of
          hands-on expertise in building and maintaining web applications.
          Proficient in frontend development using Angular and backend
          technologies in .NET, with a strong foundation in JavaScript, Java,
          and PHP. Skilled in developing user-friendly, scalable solutions,
          including membership features and complex systems.
        </p>

        <p>
          <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
          <a href="#" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-section" id="section-resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2>My <strong>Resume</strong></h2>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="mb-5">Education</h2>
        <div class="resume-item mb-4">
          <span class="date"><span class="icon-calendar"></span> March 2019 - 2023</span>
          <h3>Diploma in Computer Science and Engineering</h3>
          <span class="school">Monad University</span>
        </div>

        <div class="resume-item mb-4">
          <span class="date"><span class="icon-calendar"></span> September 2024 - Present</span>
          <h3>Web Development Bootcamp</h3>
          <span class="school">Neelgai</span>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item mb-4">
          <span class="date"><span class="icon-calendar"></span> October 2022 - Present</span>
          <h3>FullStack Developer</h3>
          <span class="school">SuperGDev Consultancy</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}