{% extends "base.html" %}
{% block Content %}

<section class="site-hero" style="background-image: url(/static/images/heroImage.jpg);" id="section-home"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row intro-text align-items-center justify-content-center position-relative">
      <div class="col-md-10 text-center pt-5">

        <h1 class="site-heading">Hello, I'm <strong class="d-block">Amardeep Soni</strong>
        </h1>
        <strong class="d-block text-white text-uppercase letter-spacing">and this is My Resume</strong>

      </div>
    </div>
  </div>
</section>

<section class="site-section" id="section-project">
  <div class="container">
    <div class="row">
      <div class="section-heading text-center col-md-12">
        <h2>Featured <strong>Projects</strong></h2>
      </div>
    </div>
    <div class="filters">
      <ul>
        <li class="active">All</li>
        <li>HTML & CSS</li>
        <li>Javascript</li>
        <li>PHP</li>
      </ul>
    </div>

    <div class="filters-content">
      <div class="row grid">
        <div class="single-project col-sm-4 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img class="image img-fluid" src="static/images/p1.png" alt="">
            </div>
          </div>
          <div class="p-inner">
            <h4>Login Form</h4>
            <p class="language">HTML & CSS</p>
            <a target="_blank" href="https://css.amardeepdev.com/formDesign">View Details</a>
            <a target="_blank" class="ms-3" href="https://amardeepdev.com/project-details.php?proj=formDesign">View
              Live</a>
          </div>
        </div>

        <div class="single-project col-sm-4 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img class="image img-fluid" src="static/images/p2.png" alt="">
            </div>
          </div>
          <div class="p-inner">
            <h4>Chatting Application</h4>
            <p class="language">JS, PHP</p>
            <a target="_blank" href="https://chat.amardeepdev.com">View Details</a>
            <a target="_blank" class="ms-3" href="https://amardeepdev.com/project-details.php?proj=chat">View
              Live</a>
          </div>
        </div>

        <div class="single-project col-sm-4 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img class="image img-fluid" src="static/images/p3.png" alt="">
            </div>
          </div>
          <div class="p-inner">
            <h4>NotePad</h4>
            <p class="language">JS, PHP</p>
            <a target="_blank" href="https://notepad.amardeepdev.com">View Details</a>
            <a target="_blank" class="ms-3" href="https://amardeepdev.com/project-details.php?proj=notepad">View
              Live</a>
          </div>
        </div>

        <div class="single-project col-sm-4 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img class="image img-fluid" src="static/images/p4.png" alt="">
            </div>
          </div>
          <div class="p-inner">
            <h4>Alarm Clock</h4>
            <p class="language">JS</p>
            <a target="_blank" href="https://alarm.amardeepdev.com">View Details</a>
            <a target="_blank" class="ms-3" href="https://amardeepdev.com/project-details.php?proj=alarm">View
              Live</a>
          </div>
        </div>

        <div class="single-project col-sm-4 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img class="image img-fluid" src="static/images/p5.png" alt="">
            </div>
          </div>
          <div class="p-inner">
            <h4>Number Guessing Game</h4>
            <p class="language">JS</p>
            <a target="_blank" href="https://www.jsgames.amardeepdev.com/NumberGuessingGame">View
              Details</a>
            <a target="_blank" class="ms-3" href="https://amardeepdev.com/project-details.php?proj=numberGuess">View
              Live</a>
          </div>
        </div>

        <div class="single-project col-sm-4 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img class="image img-fluid" src="static/images/p6.png" alt="">
            </div>
          </div>
          <div class="p-inner">
            <h4>Rock Paper Scissor Game</h4>
            <p class="language">JS</p>
            <a target="_blank" href="https://www.jsgames.amardeepdev.com/RockPaperScissor">View
              Details</a>
            <a target="_blank" class="ms-3"
              href="https://amardeepdev.com/project-details.php?proj=rockPaperScissor">View
              Live</a>
          </div>
        </div>

        <div class="single-project col-sm-4 all mockup">
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img class="image img-fluid" src="static/images/p7.png" alt="">
            </div>
          </div>
          <div class="p-inner">
            <h4>Custom Context Menu</h4>
            <p class="language">JS</p>
            <a target="_blank" href="https://right-click.amardeepdev.com">View
              Details</a>
            <a target="_blank" class="ms-3" href="https://amardeepdev.com/project-details.php?proj=right-click">View
              Live</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2>Client <strong>Testimonial</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img src="/static/images/person_1.png" alt="Image placeholder" class="img-fluid">
          </div>
          <blockquote class="block-47-quote">
            <p>&ldquo;Working with Amardeep was a seamless experience. His expertise in full-stack
              development and attention to detail helped us build a robust web application that met
              all of our business needs. He has demonstrated exceptional skill in managing multiple
              projects simultaneously, even under significant pressure. Amardeep's ability to stay
              focused, meet deadlines, and deliver high-quality results has truly been a game changer
              for our team.&rdquo;</p>
            <cite class="block-47-quote-author">&mdash; <span class="text-warning">Ganesh Sah SuperGDev
                Consultancy,
                Founder</span></cite>
          </blockquote>
        </div>

      </div>

      <div class="col-md-6">

        <div class="block-47 d-flex mb-5">
          <div class="block-47-image">
            <img src="/static/images/person_3.png" alt="Image placeholder" class="img-fluid">
          </div>
          <blockquote class="block-47-quote">
            <p>&ldquo;Amardeep has been my student, and I’ve seen firsthand how hardworking and quick
              to learn he is. We collaborated on several WordPress projects, where he consistently
              delivered high-quality results. His ability to manage client expectations and meet their
              needs is truly impressive.&rdquo;</p>
            <cite class="block-47-quote-author">&mdash; <span class="text-warning">Param Coaching and
                Training Center, Founder</span></cite>
          </blockquote>
        </div>

      </div>

    </div>
  </div>
</section>

{% endblock %}